body, h2, div {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background: aqua;
}

h1 {
    position: relative;
    left: 280px;
}

.time {
    border: 2px solid black;
    margin-left: 200px;
    margin-right: 200px;
    background-color: pink;
}

.clock {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 20px 10px
}

.weather {
    border: 2px solid black;
    height: 150px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:greenyellow;
}

.weather p {
    font-size: inherit;
    text-align: center;
    font-size: 40px;
}